= form_for @application_setting, url: admin_application_settings_path, html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      .form-check
        = f.check_box :koding_enabled, class: 'form-check-input'
        = f.label :koding_enabled, class: 'form-check-label' do
          开启 Koding
      .form-text.text-muted
        从 Gitlab 10.0 开始，Koding 集成服务已经被淘汰了，如果您禁用了您的 Koding 集成服务，您将无法再重启启用。
    .form-group
      = f.label :koding_url, 'Koding URL', class: 'label-light'
      = f.text_field :koding_url, class: 'form-control', placeholder: 'http://gitlab.your-koding-instance.com:8090'
      .form-text.text-muted
        Koding已经为
        %strong gitlab
        集成提供了支持，您需要在这里提供Koding团队的URL。点击
        = succeed "." do
          = link_to "Koding 管理文档", help_page_path("administration/integration/koding")

  = f.submit '保存修改', class: "btn btn-success"
