= form_for @application_setting, url: admin_application_settings_path do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      = f.label :mirror_available, '启用镜像配置', class: 'label-light'
      .form-check
        = f.check_box :mirror_available, class: 'form-check-input'
        = f.label :mirror_available, class: 'form-check-label' do
          允许项目设置镜像
      %span.form-text.text-muted
        如果禁用该选项，只有管理员才可以在项目中设置镜像。
        = link_to icon('question-circle'), help_page_path('workflow/repository_mirroring')

  = f.submit _('Save changes'), class: "btn btn-success"
