- expanded = Rails.env.test?

%section.qa-protected-branches-settings.settings.no-animate{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      保护分支
    %button.btn.js-settings-toggle.qa-expand-protected-branches{ type: 'button' }
      = expanded ? '收起' : '展开'
    %p
      保护稳定分支的安全并强制开发者使用合并请求功能
  .settings-content
    %p
      默认情况下，保护分支被设计为：
      %ul
        %li 除了主程序员外，禁止其他所有人员创建分支
        %li 除了主程序员外，禁止其他所有人员推送
        %li 禁止<strong>任何人</strong> 强制推送此分支
        %li 禁止<strong>任何人</strong> 删除此分支
      %p 点击 #{link_to "保护分支", help_page_path("user/project/protected_branches")} 和 #{link_to "项目权限", help_page_path("user/permissions")}.

    - if can? current_user, :admin_project, @project
      = content_for :create_protected_branch

    = content_for :branches_list
