= form_for runner, url: runner_form_url do |f|
  = form_errors(runner)
  .form-group.row
    = label :active, "激活", class: 'col-form-label col-sm-2'
    .col-sm-10
      .form-check
        = f.check_box :active, { class: 'form-check-input' }
        %span.light Runners 暂停后将不能接受新 jobs
  .form-group.row
    = label :protected, "被保护", class: 'col-form-label col-sm-2'
    .col-sm-10
      .form-check
        = f.check_box :access_level, { class: 'form-check-input' }, 'ref_protected', 'not_protected'
        %span.light 这个 runner 只能运行被保护分支上触发的的流水线
  .form-group.row
    = label :run_untagged, '运行没有标签的作业', class: 'col-form-label col-sm-2'
    .col-sm-10
      .form-check
        = f.check_box :run_untagged, { class: 'form-check-input' }
        %span.light 表示此 Runner 可以运行没有任何标签的作业
  - unless runner.group_type?
    .form-group.row
      = label :locked, _('Lock to current projects'), class: 'col-form-label col-sm-2'
      .col-sm-10
        .form-check
          = f.check_box :locked, { class: 'form-check-input' }
          %span.light= _('When a runner is locked, it cannot be assigned to other projects')
  .form-group.row
    = label_tag :token, class: 'col-form-label col-sm-2' do
      授权码
    .col-sm-10
      = f.text_field :token, class: 'form-control', readonly: true
  .form-group.row
    = label_tag :ip_address, class: 'col-form-label col-sm-2' do
      IP Address
    .col-sm-10
      = f.text_field :ip_address, class: 'form-control', readonly: true
  .form-group.row
    = label_tag :description, class: 'col-form-label col-sm-2' do
      描述
    .col-sm-10
      = f.text_field :description, class: 'form-control'
  .form-group.row
    = label_tag :maximum_timeout_human_readable, class: 'col-form-label col-sm-2' do
      Maximum job timeout
    .col-sm-10
      = f.text_field :maximum_timeout_human_readable, class: 'form-control'
      .form-text.text-muted This timeout will take precedence when lower than Project-defined timeout
  .form-group.row
    = label_tag :tag_list, class: 'col-form-label col-sm-2' do
      标签
    .col-sm-10
      = f.text_field :tag_list, value: runner.tag_list.sort.join(', '), class: 'form-control'
      .form-text.text-muted 可以设置只使用指定标签的 Runner 进行构建,标签用逗号分隔。
  .form-actions
    = f.submit '保存修改', class: 'btn btn-save'
